@charset "utf-8";
/* CSS Document */
*{
  background-color: #233655;
  color: #fff;
}
html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    font-size: large;
}
img {
    max-width: 100%;
    height: auto;
}
ul{display: flex;
	width: auto;
	list-style: none;
	flex-direction: row;
	justify-content:center;
	align-items: stretch;
	flex-wrap: wrap;
}
li{
	list-style: none;
}
.site-title{
	font-size: 45px;
}
.content{
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}
.myprofile {
	text-align: center;
}

.site-logo h1:nth-of-type(1){
    margin-bottom: 0;
}
.site-logo {
    text-align: center;
    margin: 30px 0px;
}
.site-logo img{
    display: inline-block;
    width: 200px;
    height: 200px;
}
.site-nav .main-nav{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.main-nav__item a{
    padding: 0px 10px;
    display: block;
    font-weight: bold;
    text-align: center;
}
.profile_img img{
	object-fit: cover;
    height: 200px;
    width: 300px;
}
.profile_img{
	display: flex;
	justify-content: center;
}
.main-visual__img img{
    object-fit: cover;
    height: 200px;
    width: 300px;
    margin: 20px 20px;
}

.site-footer .copyright{
    text-align: center;
    padding-bottom: 0;
}
.near-production{
    text-align: center;
    margin: 70px 0px 0px 0px;
}
.near-production___img{
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.near-production___img img{
	width: 100%;
}
.near-production____img{
	width: 40%;
}
.profile__head{
    text-align: center;
    margin: 70px 0px 10px 0px;
}
.mv-title__head{
    text-align: center;
    margin: 70px 0px 0px 0px;
}
.web-production{
    text-align: center;
    margin: 70px 0px 0px 0px;
}
.web-production__img img{
	object-fit: cover;
    height: 250px;
    width: auto;
    margin: 20px 20px;
}
.web-poster{
    text-align: center;
    margin: 70px 0px 0px 0px;
}
.web-poster__img img{
	object-fit: cover;
    height: 400px;
    width: auto;
    margin: 20px 20px;
}
@media(min-width:768px){
    .site-logo img{
    display:inline-block;
    width: 300px;
    height: 300px;
    }
    .site-logo h1{
        align-items: center;
        display: flex;
        flex-direction:row-reverse;
        justify-content: center;
    }
	.main-visual__img{
        display: flex;
        flex-direction:column;
        align-items: center;
	}
	
    .site-title{
        padding-left: 20px;
    }
}
